---
import { baseUrl } from '@/utils/functions';
import Titulo from './titulo.astro';
const logo = baseUrl('/assets/inkscape-logo-noise.avif');
---

<section class='am-hero'>
  <a href='https://inkscape.org/'><img src={logo} alt='Logo' class='logo' /></a>
  <Titulo />
</section>
<style>
  .am-hero {
    height: 100vh;
    position: relative;
    background: var(--bg);
    font-family: 'Open Sans', sans-serif;
  }

  img.logo {
    position: absolute;
    right: 1.5vmax;
    bottom: 1.5vmax;
    width: 6vmax;
    object-fit: cover;
    border-radius: 50%;
    z-index: 10000;
  }
</style>
